
/* YOUR CSS STYLES */

body{
    font-family: proxima-nova-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #ff3e55;
}
p.quote{
  font-size: 22px;
}
p.keyfact{
  font-size: 30px;
  font-weight: 400;
  color:#aaaaaa;
}
p{
  font-size: 22px;
  color: #aaaaaa;
}
p.imgtext{
  font-size: 14px;
  color:#bbbbbb;
}
b{
  color:#ff3e55;
}
u{
  color:#ff3e55;
}
b.stress{
 color:#ff3e55;
}
u.stress{
  color:#ff3e55;
}
.map path{
  stroke-width: 0.5;
  stroke:#ff3e55;
}

/*************/
  /*    FORM   */
  /*************/
  
  .form-inline {
    margin-bottom: 30px;
    float: right;
    margin-left: 10px;
  }
  
  .form-control {
    background: #ff3e55;
    border: 1px solid #ff3e55;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ff3e55;
    width: 280px;
    color:white;
  }
  .form-control:focus {
    background: #ff3e55;
    border: 1px solid #ff3e55;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ff3e55;
    color:white;
  }

  .form-group label {
    font-weight: 300;
    margin-right: 10px;
    margin-left: 10px;
  }

  .chart-title{
    fill:#ff3e55;
    font-size: 18px;
    text-anchor: end;
  }

  .chart-title-2{
    fill:#ff3e55;
    font-size: 18px;
    text-anchor: end;
  }

  p.name{
    font-size: 14px;
    font-weight:300;
  }